# Ignore Visual Studio build directories
*.sln
*.suo
*.user
*.psess
*.vsp
BBQRestaurantManagement/.vs/
BBQRestaurantManagement/bin/
BBQRestaurantManagement/obj/

# Ignore Rider files
.idea/
*.sln.DotSettings.user
*.DotSettings.user