# Ignore Visual Studio build directories
*.sln
*.suo
*.user
*.psess
*.vsp
BBQRestaurantManagement/.vs/
BBQRestaurantManagement/bin/
BBQRestaurantManagement/obj/

BBQRestaurantManagement/App.config
BBQRestaurantManagement/BBQRestaurantManagementDataSet.Designer.cs
BBQRestaurantManagement/BBQRestaurantManagementDataSet.xsc
BBQRestaurantManagement/BBQRestaurantManagementDataSet.xsd
BBQRestaurantManagement/BBQRestaurantManagementDataSet.xss

# Ignore Rider files
.idea/
*.sln.DotSettings.user
*.DotSettings.user